@import url("./reset.css");

#content-container {
  margin: 0;
  padding: 16px;
}

.content {
  border: 1px solid red;
  margin: 0;
}

#usersList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard {
  position: relative;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  overflow: hidden;
  margin: 10px 0;
  border: 2px solid green;
}
.userCard:hover {
  border: 2px solid red;
}

.usersSelectedList {
  border: 2px solid red;
  padding: 16px;
}

.userPictureContainer,
.userPicture {
  height: 300px;
  width: 100%;
}

.userPictureContainer {
  position: relative;
  background-color: rgb(88, 146, 253);
  color: white;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
}

.btnsBlock {
  position: absolute;
  text-outline: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.button {
  padding: 3px;
}
.select {
  border-bottom-right-radius: 50%;
}
.remove {
  border-bottom-left-radius: 50%;
}

.button-img {
  width: 40px;
  height: 40px;
}

.userPicture {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  object-fit: cover;
  object-position: top;
}
.male {
  border-radius: 30%;
}

.userFullName {
  text-align: center;
  margin: 16px 0;
  font-size: 1.3rem;
  font-weight: 700;
}
